<!-- Header Section Begin -->
    <header class="header-section">
        
        <div class="container">
            <div class="inner-header">
                <div class="row">
                    <div class="col-lg-2 col-md-2">
                        <div class="logo">
                            <a href="./index.html">
                                <img src="img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <div class="advanced-search">
                            <div class="input-group">
                                <input type="text" placeholder="Ürün, kategori veya marka ara">
                                <button type="button"><i class="ti-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 text-right col-md-3">
                        <ul class="nav-right">
                            <li class="heart-icon">
                                <a href="#">
                                    <i class="icon_heart_alt"></i>
                                    <!-- <span></span> -->
                                </a>
                            </li>
                            <li class="cart-icon">
                                <a href="#">
                                    <i class="icon_cart_alt"></i>
                                    <span>2</span>
                                </a>
                                <div class="cart-hover">
                                    <div class="select-items">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td class="si-pic"><img src="img/s1.jpg" alt=""></td>
                                                    <td class="si-text">
                                                        <div class="product-selected">
                                                            <p>₺78.00 x 1</p>
                                                            <h6>Tek Çıkışlı Kuğu Eviye Bataryası</h6>
                                                        </div>
                                                    </td>
                                                    <td class="si-close">
                                                        <i class="ti-close"></i>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="si-pic"><img src="img/s2.jpg" alt=""></td>
                                                    <td class="si-text">
                                                        <div class="product-selected">
                                                            <p>₺920.00 x 1</p>
                                                            <h6>Alia 100</h6>
                                                        </div>
                                                    </td>
                                                    <td class="si-close">
                                                        <i class="ti-close"></i>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="select-total">
                                        <span>Toplam:</span>
                                        <h5>₺998.00</h5>
                                    </div>
                                    <div class="select-button">
                                        <a href="#" class="primary-btn view-card">Sepeti gör</a>
                                        <a href="#" class="primary-btn checkout-btn">Ödeme yap</a>
                                    </div>
                                </div>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-item">
            <div class="container">
                <div class="nav-depart">
                    <div class="depart-btn">
                        <i class="ti-menu"></i>
                        <span>Tüm Katalog</span>
                        <ul class="depart-hover">
                            <li class="active"><a href="#">Katalog 1</a></li>
                            <li><a href="#">Katalog 2</a></li>
                            <li><a href="#">Katalog 3</a></li>
                            <li><a href="#">Katalog 4</a></li>
                            <li><a href="#">Katalog 5</a></li>
                            <li><a href="#">Katalog 6</a></li>
                            <li><a href="#">Katalog 7</a></li>

                            
                        </ul>
                    </div>
                </div>
                <nav class="nav-menu mobile-menu">
                    <ul>
                        <li class="active"  ><a href="./index.html">Anasayfa</a></li>
                        <!-- <li><a href="./shop.html"></a></li> -->
                        <li><a href="#">Armatür   </a>
                            <ul class="dropdown">
                                <li><a href="#">Bataryalar</a></li>
                                <li><a href="#">Duş Setleri</a></li>
                            </ul>
                        </li>
                        <li><a href="./aksesuarlar.html">Aksesuarlar</a></li>
                        <li><a href="/shop">Ürünler</a>
                            <ul class="dropdown">
                                <li><a href="./blog-details.html">Duşa Kabin</a></li>
                                <li><a href="./shopping-cart.html">Banyo Dolabı</a></li>
                                <li><a href="./check-out.html">Süzgeç</a></li>
                                <li><a href="./faq.html">Merfez</a></li>
                                <li><a href="./register.html">Evye</a></li>
                            </ul>
                        </li>
                        <li><a href="./contact.html">İletişim</a></li>

                        
                            
                            
                        
                    </ul>
                    
                </nav>
                <div id="mobile-menu-wrap"></div>
                
            </div>
            <div class="contact-link">
                <a href="tel:0(212)2723682">0 (212) 272 36 82</a>
                </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Footer Section End -->

    