<!-- Footer Section Begin -->
<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer-left">
                    <div class="footer-logo">
                        <a href="#"><img src="img/foterr.png" alt=""></a>
                    </div>
                    <ul>
                        <li>Mecidiyeköy Mahallesi,Mecidiye Kuyu Sokak, Kuyu Apartmanı No:26 Daire:2 - Şişli / İstanbul - TÜRKİYE
                        </li>
                        <li>Tel: +90 212 272 36 82</li>
                        <li>Mobil Tel: +90 538 043 56 57
                        </li>
                        <li>Email: ...@gmail.com</li>
                    </ul>
                    <div class="footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1">
                <div class="footer-widget">
                    <h5 class="estr2">Entamutfakbanyo</h5>
                    <ul>
                        <li><a href="#">Hakkımızda</a></li>
                        <li><a href="#">İşlem Rehberi</a></li>
                        <li><a href="#">İletişim</a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="footer-widget">
                    <h5>Ödeme </h5>
                    <ul>
                        <li><a href="#">Ödeme Seçenekleri</a></li>
                        <li><a href="#">Banka Kampanyaları</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="newslatter-item">
                    <h5>E-Mail Üyeliği</h5>
                    <p>Kampanyalarımızdan ve yeni ürünlerimizden haberdar ol!</p>
                    <form action="#" class="subscribe-form">
                        <input type="text" placeholder="Mailiniz">
                        <button type="button">Üye ol</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-reserved">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright-text">
                         © Copyright 2020 Entamutfakbanyo Tic. A.Ş. Her Hakkı Saklıdır.
                    </div>
                    <div class="payment-pic">
                        <img src="img/payment-method.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>