<!-- Hero Section Begin -->
<section class="hero-section">
    <div class="hero-items owl-carousel">
        <div class="single-hero-items set-bg" data-setbg="img/her.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <span>Banyo </span>
                        <h1>Banyo Dolapları</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        <a href="#" class="primary-btn">Alışverişe Başla</a>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="single-hero-items set-bg" data-setbg="img/hee.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <span>Genel</span>
                        <h1>Musluklar</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore</p>
                            <a href="#" class="primary-btn">Alışverişe Başla</a>
                        </div>
                </div>
    
            </div>
        </div>
        <div class="single-hero-items set-bg" data-setbg="img/hz.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <span>Banyo</span>
                        <h1>Duş Setleri</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                        <a href="#" class="primary-btn">Alışverişe Başla</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->
